<div class="container"><div class="baglam">
  <h1>TARİHÇE SUBAY OKULU </h1>
    
    <p>Kuruluş tarihi 1839 tarihli Tanzimat Fermanına kadar giden jandarmanın personel ihtiyacını karşılamak maksadıyla ilk okulu 1904 yılında Selanik’te kurulmuştur. Bu okulda Jandarma subayları yetiştirilmek üzere eğitim öğretim faaliyetleri yürütülmüştür.
    
    1908’de İkinci Meşrutiyetin ilanı ve Hareket Ordusunun İstanbul'a gelişinden sonra, Selanik'teki Jandarma Zabit Mektebi de Yıldız Sarayına nakledilmiş ve okul 1910 tarihinden itibaren burada eğitim-öğretim faaliyetlerine devam etmiştir.
    
    İstanbul’un çeşitli semtlerindeki binalarda eğitim öğretim veren Jandarma Zabit Mektebi 1922 yılında aynı teşkilatıyla Ankara’ya taşınmış ve Etlik’te faaliyete geçmiştir.
    
    Etlik’te bulunan okul binası zamanla yetersiz kalmıştır. Okul olarak İzmit'te şimdi ortaokul olarak kullanılan bir bina uygun görülerek, okul 1922 yılında İzmit'e nakledilmiş ve burada iki yıl faaliyette bulunmuştur. Bu binanın da ihtiyaca cevap verememesi nedeniyle okul, 1924 yılında Konya'da istasyon civarındaki Ebuzziya Köşkü'ne nakledilmiştir.
    
    1930 yılında 1706 sayılı Jandarma Kanunu ile Jandarma Zabit Mektebi lağvedilmiş, okulun eski kanun ve nizamnâmelerdeki öğrenci kaynakları bütünüyle kaldırılmış ve 1935 yılından itibaren jandarma subay ihtiyacının Harp Okulu mezunu subaylardan karşılanması esası getirilmiştir.
    
    Harp Okulundan mezun jandarma subaylarına mesleğin özelliklerine uygun bir eğitim ve öğretim verilmesi zorunluluğu karşısında, jandarma mesleki bilgilerinin verildiği yeni bir sınıf okulu açılması gerekli görülmüş ve bu amaca hizmet edecek Jandarma Subay Okulunun Ankara Gençlik Caddesi üzerinde Polis Enstitüsü ile ortak olarak kullanılacak bir binada faaliyete geçmesi planlanmıştır.
    
    1935 yılında Harp Okulunu bitiren teğmenlerden 29 subay jandarma sınıfına ayrılmış, bu subaylar okulun inşaatı bitmediği için eğitim ve öğretimlerini Jandarma Genel Komutanlığı binasında tamamlamışlardır. Okulun esas binası 1937 yılında tamamlanarak hizmete açılmış, ikinci devre jandarma subayları Ekim 1937'den itibaren bu binada öğretim görmüşlerdir.
    
    24 Nisan 1979 tarihinde, Anıttepe'deki Jandarma Subay Tatbikat Okulu Güvercinlik Kışlasına taşınmış, burada bulunan Jandarma Astsubay Hazırlama ve Sınıf Okulları Komutanlığı ile birleşerek, birlik Jandarma Okul Komutanlığı adını almıştır.
    
    1997 yılında Jandarma Subay Sınıf Okulu, Güvercinlik’ten halen konuşlu bulunduğu Beytepe Şehit Korg. İsmail SELEN Kışlasına taşınmıştır.
    
    31 Temmuz 2016 tarihli Resmi Gazete’de yayımlanan 669 sayılı Kanun Hükmünde Kararnamenin 2803 sayılı Jandarma Teşkilat, Görev ve Yetkileri Kanunu’na eklenen 13/A maddesi gereği Jandarma Okullar Komutanlığı lağv edilerek Jandarma ve Sahil Güvenlik Akademisi kurulmuştur. Bu kapsamda Subayların Subay Eğitim Merkezi (SUEM) ve Fakülte bünyesinde yetiştirilmesine yönelik teşkilatlanmaya gidilmiştir.</p>
    
     
    <h3>ASTSUBAY ve UZMAN JANDARMA OKULU</h3>
    
    <p>1904 yılında, Jandarma Subay Okulunun yanında jandarma astsubaylarını yetiştirmeye yönelik olarak Selanik Jandarma Karakol Komutanları Mektebi açılmıştır.
    
    1908’de İkinci Meşrutiyetin ilanından sonra görülen lüzum üzerine Jandarma Karakol Komutanları Mekteplerinin sayısı çoğaltılmış, her Tensik (Yenileştirme) Dairesinin merkezinde Selanik Jandarma Karakol Komutanları Mektebine benzer birer okul kurulmuştur.
    
    1913 yılında, Efrad-ı Cedide Okulları ve Jandarma Karakol Komutanları Okulları, Jandarma Eğitim Alayları içinde birleştirilmiş, faaliyetlerini milli mücadelenin başlamasına kadar bu şekilde sürdürmüşlerdir.
    
    Milli Mücadele yıllarında kapatılan Jandarma Karakol Komutanları Okulları, Cumhuriyetin ilanından sonra İstanbul, Çanakkale, Kayseri, Adana, İzmir, Giresun, Kars ve Diyarbakır'da bulunan Efrad-ı Cedide Alay Mektepleri içerisinde faaliyete geçmiştir. Er Okul Alaylarındaki taburların birer bölüğü, jandarma karakol komutanlarının yetiştirilmesine Bitlis, Bursa, Edirne, Ankara, Konya, Denizli, Maraş ve Sivas'ta kurulan Jandarma Karakol Komutanları Okulları, Jandarma Er Okullarından ayrı olarak sadece karakol komutanları yetiştirmişlerdir.
    
    02 Temmuz 1932 tarihinde, Er Okul Alayları lağvedilmiş ve bu kaynağa dayalı jandarma astsubayı yetiştiren okulların tümü kapatılarak Ankara'nın Ulus semtinde bir yıllık öğretime dayalı Jandarma Astsubay Meslek Okulu açılmıştır. Bu okula ordudan terhis edilmiş jandarma olmaya istekli gedikli erbaşlar alınmış, altı aylık mesleki eğitimden sonra başarılı olanlar jandarma astsubayı olarak birliklerine gönderilmiştir. 02 Aralık 1932 yılında okulun süresi iki yıla çıkarılmış, birinci sınıf İstanbul Maltepe'de açılmış, 1935 yılında ise her iki sınıf İstanbul Maltepe'de birleştirilmiştir.
    
    01 Ekim 1937'de İstanbul Maltepe bulunan Jandarma Meslek Okulunun ikinci sınıfı, 1941 yılında da birinci sınıfı Ankara'ya nakledilmiştir.
    
    1940 yılında jandarma astsubaylarının daha iyi yetişmelerini sağlamak amacıyla altı ay süreli bir Hazırlama Sınıfı açılmış; ancak bu uygulamaya 1942 yılında son verilmiştir.
    
    1945 yılında Jandarma Astsubay Okulu için 3 yıl süreli Jandarma Gedikli Erbaş Hazırlama Ortaokulu açılmış ancak bu okul faaliyetine 1953 yılına kadar devam edebilmiştir. Okulun öğrenci kaynağını ilkokul mezunları ile ortaokulların ara sınıflarından gelen öğrenciler oluşturmuştur.
    
    Gelişen ve değişen toplumsal koşullar, subay ve astsubaylardan oluşan muvazzaf jandarma kadrolarına ilave olarak uzman jandarma sınıfı ihtiyacını ortaya çıkarmıştır. Kolluk hizmetini profesyonelce yürütecek uzman jandarma sınıfını yetiştirmek üzere açılan Uzman Jandarma Çavuş Okulu, 1961-1963 yılları arasında Emirdağ'da faaliyette bulunmuştur. Bu okula en az ilkokul mezunu, istekli ve başarılı erbaş ve erler alınarak bir yıl süreli eğitim ve öğretim sonunda, uzman jandarma çavuş olarak mezun edilmiş ancak mezuniyetin sürekliliği sağlanamamıştır.
    
    1966 yılına kadar iki yıl; 1966 yılından 1972 yılına kadar üç yıl olarak eğitim ve öğretimini sürdüren Jandarma Astsubay Okulunun birinci ve ikinci sınıfları 1970 yılına kadar Afyonkarahisar/Emirdağ'da faaliyetine devam etmiştir.
    
    1970 yılında, Jandarma Astsubay Okulu Güvercinlik'teki yeni hizmet binalarında öğretime geçmiş, okulun ihtiyacı olan öğrenciler, ortaokul mezunları arasından sınavla alınmıştır.
    
    09 Ağustos 1972 tarihinde yapılan değişikliğine göre adı Jandarma Astsubay Hazırlama ve Sınıf Okulları Komutanlığı olarak değiştirilen okulun bünyesinde yer alan Jandarma Astsubay Hazırlama Okulu üç yıl süreli bir okul olmuş, okula orta ve dengi okul mezunları ile lise ve dengi okul ara sınıflarından gelen öğrenciler sınavla alınmıştır.
    
    1988 yılında uzman jandarma sınıfının yeniden ihdası üzerine, Ankara Uzman Jandarma Okulu ve Emirdağ Uzman Jandarma Okulu faaliyete geçirilmiştir.
    
    1991 yılında, Jandarma Astsubay Sınıf Okulunun kaynağını teşkil eden Jandarma Astsubay Hazırlama Okulu kapatılmıştır.
    
    1992 yılından itibaren Jandarma Astsubay Sınıf Okulu'na sadece uzman jandarma çavuşlardan öğrenci alımına başlanmış, 1997 yılında tekrar sivil kaynaktan belirli oranda öğrenci alınmıştır.
    
    1997 tarihinde Ankara ve Emirdağ Uzman Jandarma Okulları birleştirilerek Ankara/Beytepe Jandarma Okullar Komutanlığına nakledilmiştir.
    
    Şubat 1999 tarihinde Ankara Güvercinlikte bulunan Jandarma Astsubay Sınıf Okulu da Beytepe’ye taşınmıştır. Jandarma Astsubay Sınıf Okulu, 2003-2004 eğitim ve öğretim döneminden itibaren Jandarma Astsubay Meslek Yüksek Okulu haline dönüştürülmüş ve eğitim-öğretim süresi iki yıla çıkartılmıştır. Ayrıca; fakülte ve meslek yüksekokulu kaynağından temin edilecek öğrencilerin, bir yıl süreyle eğitim ve öğretim göreceği Jandarma Astsubay Temel Kursu, Jandarma Okullar Komutanlığı bünyesinde, 01 Eylül 2003 tarihinde faaliyete geçirilmiştir.
    
    03 Mart 2003 tarihinde kadın astsubayların eğitim ve öğretimine, Jandarma Okullar Komutanlığında başlanmıştır. 
    
    2012 yılında Uzman Jandarma Okulu kapatılmıştır.
    
    31 Temmuz 2016 tarihli Resmi Gazete’de yayımlanan 669 sayılı Kanun Hükmünde Kararnamenin 2803 sayılı Jandarma Teşkilat, Görev ve Yetkileri Kanunu’na eklenen 13/A maddesi gereği Jandarma Okullar Komutanlığı lağv edilerek Jandarma ve Sahil Güvenlik Akademisi kurulmuştur. Bu kapsamda Astsubayların, Astsubay Eğitim Merkezi (ASEM) ve Meslek Yüksek Okulu (MYO) bünyesinde yetiştirilmesine yönelik teşkilatlanmaya gidilmiştir.</p>
</div></div>