
<div id="main">
  <div class="kutu">
    <header class="header">
      <div class="logo">
        <img [src]="imgUrlString">
      </div>
      <div class="route">
        <nav class="navbar navbar-expand-lg  navbar-light p-5 ">
          <ul id="navbarCollapse" class="navbar-nav collapse navbar-collapse ">
            <li class="nav-item nav-item-ozel navbar-brand active"><a class="nav-link" href="Home">
              <div class="homeItem active">
                <img class="homeImg" [src]="homeIconPath" alt="">
                <span class="homeSpan">Anasayfa</span>
              </div>
              </a></li>
                      
            <li class="nav-item nav-item-ozel">
              <a class="nav-link " [href]="jsgaUrlString" target="_blank">
                <div class="siteItem">
                  <img class="siteImg" [src]="schoolIconPath" alt="" srcset="">
                  <span class="siteSpan">JSGA</span>
                </div>
              </a>
            </li>
            <li class="nav-item nav-item-ozel"><a class="nav-link" href="asdas">
              <div class="aboutItem">
                <img class="aboutIconImg" [src]="aboutIconPath" alt="">
                <span class="aboutSpan">Hakkında</span>
              </div>
              </a></li>
          </ul>
        </nav>
      </div>
      <div class="login">
        <button type="button" class="btnLogin" (click)="click()">Giriş</button>
      </div>
    </header>
    <div class="background">
      <img class="background-img1" [src]="background_img1_UrlString" alt="background-image1">
      <img class="background-img2" [src]="background_img2_UrlString" alt="background-image2">
    </div>
    <div class="container">
      Bu container ana sayfa için oluşturulmutur.
    </div>
    <footer class="footer">
        <img class="footer-logo" [src]="imgFooterUrlString" alt="Jandarma-Akademisi-Logo">
        <span class="footer-text">
          © 2023  Jandarma ve Sahil Güvenlik Akademisi 
        </span>
    </footer>
  </div>
</div>