#main{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    
}

.kutu{
    width: 100% ;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.header{
    height: 120px;
    width: 100%;
    position: relative;
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:rgb(224, 223, 223);
    z-index: 100;
}

.header div{
    margin-left: 0;
    margin-right: 10px;
}

.logo,footer img{
    animation: dondurimg; 
    animation-duration: 3s;
    animation-delay: 4s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes dondurimg{
    from{transform: rotate(-0deg);}
    to{transform: rotate(360deg);}
}


.route{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    
}

.navbar{
    height: 100%;
}

.nav-item-ozel::after{
    content:'' ;
    height:2px;
    width: 0px;
    background: #0decd6;
    left: 0px;
    top:10px; 
    transition:2s;
    border-radius: 3px;
    float: left;
}

.nav-item-ozel:hover::after{
    width: 100%;
    /*background-color: red;*/
}


.login{
    box-shadow: 0px 0px 10px 1px rgba(116, 115, 115, 0.699);
    border-radius: 20px;
}

.btnLogin{
    --btnWidth: 150px;
    --btnHeigth: 50px;

    content: "";
    width: calc(var(--btnWidth));
    height: calc(var(--btnHeigth));
    border-radius: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow:5px 5px 5px 0px lightcoral,-5px -5px 5px 0px lightblue;
    border-width: 0px;
}

.btnLogin:hover{
   
    box-shadow:8px 8px 10px 0px lightcoral,-8px -8px 10px 0px lightblue;
}

.btnLogin::before{
    content: "";
    background-image:conic-gradient(red 0deg ,white 90deg,white 180deg,blue 180deg,white 270deg,white 360deg);
    border-radius: 50%;
    width: 300%;
    height: 400%;

    position: absolute;
    animation: dondur 3s linear infinite;
}

.btnLogin::after{
    content: "Giriş";
    background-color: rgb(230, 230, 230);
     width: calc(var(--btnWidth) - 2px);
    height: calc(var(--btnHeigth) - 2px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    border-radius: 20px;
}

@keyframes dondur {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: -360deg;
    }
}





.background{
    position:absolute relative;
    background-color: #2243f8;
    width: 100%;
    height: 70%;
    /*top: 120px;*/
    z-index: 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: block;
}

.background-img1{
    position: absolute;
    width: 100%;
    height: 90.7%;
    object-fit:cover;
    opacity: 60%;
    color: antiquewhite;
    z-index: 1;
}
.background-img2{
    left:700px;
    top: 400px;
    position: absolute;
    display: none;
    min-width: 200px !important;
    min-height: 200px !important;
    background-color: #0decd6 !important;
    z-index: 2 !important;
    opacity: 50%;
}

.footer{

    width: 100%;
    height: 100px;
    background-color: #2243f8;
    align-items: center;
    justify-content: start;
    display: flex;
    z-index: 100;
    
}

.footer::after{
    content: '';
    width: 50%;
    height: 100%;
    right: 0px;
    margin-left: auto;
    background: linear-gradient(90deg ,#2243f8,rgb(255, 0, 0));
    /*background-color: rgb(255, 0, 0);*/
}

.footer-logo{
    width: 150px;
    height: 150px;
}

.footer-text{
    color: white;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 5px;
}

.active>img{
    opacity: 100% !important;
}
.active>span{
    color:black !important;
}

.Item{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}
.Item:hover{
    text-shadow: 1px 1px 3px #0decd6,-1px -1px 3px rgb(250, 95, 121);
}
.Item:hover>img{
    opacity: 100%;
}
.Item>.Img{
    width: 50px;
    height: 50px;
    opacity: 50%;
}
.Item>.Span{
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 2px;
    color: #404242b0;
}

.outlet{
    z-index: 101;
}